<form class="card-component"
      [formGroup]="myGroup"
      (ngSubmit)="submit()"
      [@fadingAwayAnimate]>
  <div class="position-card" [ngClass]="{'card-rotate' : toggleCard}">
    <div class="card-front">
      <div class="card-front__payment-system">
        <img *ngIf="visaSystemLogo" [@showAnimate] class="payment-system-text" src="assets/img/visa.png">
        <img *ngIf="masterCardSystemLogo" [@showAnimate] class="payment-system-text" src="assets/img/master.png">
      </div>
      <div class="card-front__chip">
        <img class="chip-text" src="assets/img/credit-card-chip.png" alt="credit-chip">
      </div>
      <div class="card-front__number" #inputListCardNumber>
        <label *ngFor="let item of [1,2,3,4];">
          <input class="input-number-card"
                 placeholder="0000"
                 [id]="'input-'+item"
                 (keypress)="numericOnly($event)"
                 (input)="nextInput($event, item)"
                 (blur)="cardNumberValidation()"
                 autocomplete="off"
                 onpaste="return false;"
                 minlength="4"
                 maxlength="4"
                 type="text"
                 [name]="'number'+item"
                 [ngClass]="{'invalid': successfulCardNumberEntry && f['number'+item].errors}"
                 [formControlName]="'number'+item">
        </label>
      </div>
      <div class="card-front__error">
        <span class="error-text" *ngIf="systemError" [@showAnimate]>Не определена платежная ссистема </span>
        <span class="error-text" [@showAnimate] *ngIf="successfulCardNumberEntry ">Введите корректный номер карты</span>
      </div>
      <div class="card-front__date" #inputListData>
        <div class="position-data-input">
          <label class="label" *ngFor="let item of inputDate let ind = index;">
            <input [class]="'input-number-card-data'+ ' ' + item.class "
                   placeholder="00"
                   type="text"
                   autocomplete="off"
                   onpaste="return false;"
                   [id]="'input-data-'+item.id"
                   (input)="nextInputData($event,ind+1)"
                   (keypress)="numericData($event)"
                   (blur)="controlValidDate()"
                   maxlength="2"
                   minlength="2"
                   [max]="item.maxNumber"
                   [name]="item.name"
                   [ngClass]="{'invalid': errorValidDate && errorFormatDate && f[item.nameValidator].errors.pattern}"
                   [formControlName]="item.nameValidator">
          </label>
        </div>
        <div class="error-data-valid">
          <span class="data-error-text" *ngIf="errorValidDate " [@showAnimate]>Срок действия карты истек</span>
          <span class="data-error-text" *ngIf="errorFormatDate" [@showAnimate]> Ведите корректную дату</span>
        </div>
        <div class="valid-block">
          <span class="valid-block__text" [ngClass]="{'invalid-date':errorValidDate }">VALID</span>
          <span class="valid-block__text" [ngClass]="{'invalid-date':errorValidDate }">THRU</span>
        </div>
      </div>
    </div>
    <div class="card-back">
      <div class="card-back__line"></div>
      <div class="card-back__cvv" #inputCVVCode>
        <label>
          <input class="input-cvv-card"
                 id="input-cvv"
                 placeholder="***"
                 autocomplete="off"
                 onpaste="return false;"
                 type="password"
                 readonly
                 (focus)="focusInputActive($event)"
                 (keypress)="numericCVV($event)"
                 maxlength="3"
                 max="3"
                 formControlName="numberCvv"
                 name="cvv">
        </label>
        <p class="cvv-text">CVV</p>
      </div>
      <div class="error-cvv-code" [@showAnimate] *ngIf="errorCodeCVV">
        <span class="error-cvv-code__text"> Нужнно вводить только цифры</span>
      </div>
    </div>
  </div>
  <div class="btn-block" [ngClass]="{'btn-block-cvv': toggleCard}">
    <div class="btn-next"
         [@showAnimate]
         *ngIf="!toggleCard"
         (click)="next()">
      <span class="btn-next__text">NEXT</span>
    </div>
    <div class="btn-back"
         [@showAnimate]
         *ngIf="toggleCard"
         (click)="back()">
      <span class="btn-back__text">BACK</span>
    </div>
    <button class="btn-submit"
            [@showAnimate]
            type="submit"
            *ngIf="validForm">
      <span class="btn-back__text">SUBMIT</span>
    </button>
  </div>
  <div class="screen-keyboard" #divElement [@fadingAwayAnimate] *ngIf="focusCVV">
    <div class="position-keyboard" [@showAnimate]>
      <div class="item" [@showAnimate] *ngFor="let num  of  keyboard " (click)="keyboardNumber(num)">
        <span class="item-number"> {{num}} </span>
      </div>
    </div>
    <div class="item-close">
      <div class="item-close__close" (click)="deleteNumberInputCvv()">
        <i class="fas fa-backspace delete-icon"></i>
      </div>
    </div>
  </div>
</form>
<div class="modal-window-hidden" [ngClass]="{'modal-window-visual': modal}">
  <div class="content-modal">
    <span class="content-modal__icon-success">
      <i class="fas fa-check icon"></i>
    </span>
    <span class="content-modal__text">Данные вашей карты отправлены!</span>
    <span class="content-modal__close" (click)="modal = false">
      <i class="fas fa-times close-icon"></i>
    </span>
  </div>
</div>
